@use '../base';

/*
 * Mixins
 */

@mixin center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

body {
  background-color: $primary-bg;
  color: $primary-font;
}

.header--mod,
h2 {
  border-bottom: 2px solid $primary-grey-bg;
  max-width: 400px;
}

.header--mod::after,
h2::after {
  content: "";
  position: relative;
  bottom: -4px;
  width: 40px;
  height: 6px;
  background-color: $secondary-font;
  display: block;
}

header, #content {
  display: flex;
  max-width: 1200px;
  @include center;
}

header {
  h1, p {
    transition: $basic-transition;
  }

  .header--mod { 
    font-size: 1.4rem; 
    text-transform: uppercase;
    font-weight: bold;
    transition: $basic-transition;
  }

  span {
    color: $secondary-font;
  }

  #presentacion {
    margin-top: 5rem;
    padding-left: 2rem;
    transition: $basic-transition;
  }

  #personal {
    padding: 2rem;
    background-color: $secondary-font;
    color: $primary-bg;
    transition: $basic-transition;

    img {
      width: 100%;
      margin-bottom: 1rem;
      transition: $basic-transition;
    }

    ul {
      list-style: none;

      li {
        padding: 0.5rem;
      }
    }
  }
}

/*
 * Modificadores de comportamiento para el encabezado.
 */
 .sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: $primary-bg;

  #presentacion {
    margin-top: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .header--mod, 
  p {
    font-size: 0px;
  }

  #personal {
    padding: 1rem;

    img {
      width: 75px;
      margin-bottom: 0;
    }

    ul {
      display: none;
    }
  }
}

/* Contenido de la página */
#content {
  transition: $basic-transition;

  .left {
    position: relative;
    top: -50px;
    transition: $basic-transition;

    .formacion {
      background-color: $primary-grey-bg;
      padding: 2rem 1rem 2rem 2rem;

      .formacion__elem {
        padding-bottom: 1rem;

        span {
          font-style: italic;
        }

        p {
          margin: 0.25rem 0;
          font-weight: bold;
        }
      }
    }

    .habilidades {
      background-color: $secondary-grey-bg;
      padding: 2rem 1rem 2rem 2rem;

      h2 {
        color: $primary-bg;
      }

      .habilidades__elem {
        display: flex;
        margin-bottom: 1rem;

        span {
          color: $primary-bg;
          width: 40%;
          text-transform: uppercase;
        }

        ul {
          width: 60%;
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            float: left;
            width: 20px;
            margin: 0 5%;
            background-color: #ff9900;
            border-radius: 50%;
            font-size: 0;
            display: block;
            height: 20px;
          }

          .no {
            background-color: $primary-grey-bg;
          }
        }
      }
    }
  }

  .right {
    position: relative;
    top: 50px;
    transition: $basic-transition;

    .experiencia {
      .experiencia__elem {
        h3 {
          margin: 1rem 0 0 0;
        }

        span {
          color: $secondary-font;
          font-style: italic;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.sticky + #content {
  padding-top: 14rem;

  .left {
    top: 0;
  }

  .right {
    top: 0;
  }
}

footer {
  display: block;
  margin: 2rem auto 0 auto;
  background-color: $primary-grey-bg;
  border-left: 2rem solid $secondary-grey-bg;
  padding: 0.1rem 0rem;
  box-sizing: border-box;

  .footer__elem{
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1112px) {
  #presentacion {
    width: 100%;
  }

  #personal {
    width: 240px;

    .svg-inline--fa {
      display: none;
    }
  }

  #content .left .habilidades .habilidades__elem ul li {
    width: 10%;
    padding-bottom: 10%;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  #content .left .habilidades .habilidades__elem {
    flex-wrap: wrap;

    span {
      width: 100%;
      padding-bottom: 0.5rem;
    }
  }
}

@media screen and (max-width: 700px) {
  /* Anulamos el comportamiento sticky */
  .sticky {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: $primary-bg;

    #presentacion {
      margin-top: 1rem;
    }

    h1 {
      font-size: 3.5rem;
    }

    .header--mod {
      font-size: 1.4rem;
    }
    p {
      font-size: 1rem;
    }

    #personal {
      padding: 2rem;

      img {
        width: 240px;
        margin-bottom: 0;
      }

      ul {
        display: block;
      }
    }
  }

  #header {
    flex-wrap: wrap;

    #presentacion {
      margin-top: 1rem;
    }

    #personal {
      display: flex;
      width: 100%;
  
      img {
        width: 240px;
      } 
  
      ul {
        width: 100%;
        padding-left: 1rem;

        .svg-inline--fa {
          display: inline;
        }
      }
    }
  }

  .sticky + #content {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 700px) {
  #content {
    flex-wrap: wrap;

    .col {
      padding: 0;
    }

    .col-5, 
    .col-7 {
      width: 100%;
    }

    .experiencia {
      padding: 2rem;
    }
  }

  .sticky + #content {
    padding-top: 0rem;
  }
}

@media screen and (max-width: 500px) {
  #header #personal {
    flex-wrap: wrap;

    img {
      width: 260px;
      margin: 0 auto;
    }

    ul {
      width: 260px;
      margin: 1rem auto 0 auto;
    }
  }
}